</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="$0$">$1$</a></li>
</ul>
 <ul class="nav navbar-nav navbar-right">
<p class="navbar-text">
