      .hdd {
	position: fixed;
	top: 0px;
	right: 700px;
        height: 100%;
        width: 50%;
      }

      .map {
	position: fixed;
	top: 0px;
	right: 0px;
        height: 100%;
        width: 50%;
      }
      body
      {
	      font-family: sans-serif
      }
      div.linia_head, div.bledy1, div.ok_route, div.bledy2
      {
	      background-color: black;
	      color:white;
      }
      div.linia_green, div.linia_red, div.linia_blue
      {
	     width: 500px;
	     border: 1px solid;
	     margin-top: 15px;
	     margin-bottom: 15px;
	     margin-left: 15px;
	     margin-right: 15px;
      }
      div.relglowna
      {
	      background-color: gray;
      }
      div.relboczna
      {
	      background-color: silver;
      }
	div.relboczna_niespojna
      {
	      background-color: pink;
      }
      a:hover
      {
	      color: navy;
	      text-decoration: underline;
      }
      a
      {
	      text-decoration: none;
      }
      div.partx
      {

	     margin-left: 15px;
	      font-size: 28px;
      	     margin-top: 15px;
	     margin-bottom: 15px;
	
      }
      div.linia_head, div.ok_route
      {
	      position: relative;
	      font-size: 20px;
      }
      div.linia_head a, div.linia_head a:hover, div.ok_route a, div.ok_route a:hover
      {
	      position: absolute;
	      top: 0px;
	      right: 0px;
	      font-size: 12px;
	      	color: white;
      }
      .ok_route:hover, .bledy1:hover
      {
	     text-decoration: underline;
      }
      .roznice
      {
	      display: none;
      }
      .spist{
	      width: 500px;
	          -webkit-column-count: 7; /* Chrome, Safari, Opera */
		      -moz-column-count: 7; /* Firefox */
		          column-count: 7;
      }
      .tryb_czerwony a
      {
	      color: red;
      }
      .tryb_zielony a
      {
	      color: green;
      }
	.bprzyst
{
padding-left: 20px;
position: relative;
margin-top: 10px;
margin-bottom: 10px;
}
.stopinfo, .otoczenieliniaprzystanek
{
font-size: 11px;
}
.bprzyst a
{
	position: absolute;
	top: 0px;
	left: 0px;
}
